@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
  color: #fff;
}

body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

.container {
  max-width: 80%;
  width: 100%;
  margin: 0 auto;
}

.header {
  background-color: #25262f;
}
.header .container .row {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container .row .logo a {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}
.header .container .row .logo a span {
  color: #80db66;
}
.header .container .row .logo:hover a {
  color: #80db66;
}
.header .container .row .logo:hover span {
  color: #fff;
}
.header .container .row .navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.header .container .row .navBar .navList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.header .container .row .navBar .navList .navItem a {
  text-transform: capitalize;
  font-size: 17px;
  font-weight: 600;
  transition: all 0.3s ease;
}
.header .container .row .navBar .navList .navItem a:hover {
  color: #80db66;
}
.header .container .row .navBar .cvDownload a {
  background-color: transparent;
  color: #fff;
  border: 1px solid #80db66;
  padding: 10px 14px;
  text-transform: uppercase;
  transition: all 0.3s ease;
  text-transform: uppercase;
}
.header .container .row .navBar .cvDownload a:hover {
  background-color: #80db66;
  color: #25262f;
}
.header .container .row .navBar .bar {
  font-size: 20px;
  color: #80db66;
  display: none;
}
.header .menuBar {
  transform: translateX(-400px);
  width: 300px;
  background-color: #80db66;
  height: 100vh;
  position: absolute;
  position: fixed;
  top: 0;
  z-index: 1;
  transition: all 0.3s ease;
}
.header .menuBar .exit {
  color: #fff;
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 30px;
}
.header .menuBar .menuList {
  display: flex;
  justify-content: none;
  align-items: none;
  flex-direction: column;
  gap: 20px;
  padding: 90px 30px 25px;
}
.header .menuBar .menuList li a {
  text-transform: capitalize;
  font-weight: 600;
}
.header .menuBar h5 {
  padding: 0 30px;
  margin-bottom: 15px;
  font-size: 20px;
  color: #fff;
  text-transform: capitalize;
}
.header .menuBar .socialList {
  display: flex;
  justify-content: none;
  align-items: none;
  padding: 0 30px;
  gap: 20px;
  position: absolute;
  z-index: 1;
}
.header .menuBar .socialList .socialItem a i {
  font-size: 17px;
  background-color: #1877f2;
  border-radius: 100%;
  padding: 15px 16px;
}
.header .menuBar .socialList .socialItem:nth-child(2) a i {
  background-color: #405de6;
}
.header .menuBar .socialList .socialItem:nth-child(3) a i {
  background-color: #0077b5;
}
.header .menuBar .socialList .socialItem:nth-child(4) a i {
  background-color: #054465;
}
.header .menuBar .cvDownload {
  display: none;
}
.header .menuBar.active {
  transform: translateX(0);
}

@media (max-width: 1200px) {
  .header .container .row .navBar .navList .navItem a {
    font-size: 15px;
  }
}
@media (max-width: 992px) {
  .header .container .row .navBar .navList {
    display: none;
  }
  .header .container .row .navBar .bar {
    display: block;
  }
}
@media (max-width: 425px) {
  .header .container .row .navBar .cvDownload {
    display: none;
  }
  .header .menuBar {
    width: 100%;
  }
  .header .menuBar .exit {
    right: 50px;
  }
  .header .menuBar .cvDownload {
    padding-top: 70px;
    padding-left: 30px;
  }
  .header .menuBar .cvDownload a {
    background-color: transparent;
    color: #25262f;
    border: 1px solid #25262f;
    padding: 10px 14px;
    text-transform: uppercase;
    transition: all 0.3s ease;
    text-transform: uppercase;
  }
  .header .menuBar .cvDownload a:hover {
    background-color: #80db66;
    color: #25262f;
  }
}
@media (max-width: 308px) {
  .header .menuBar {
    width: 100%;
  }
  .header .menuBar .exit {
    right: 30px;
  }
  .header .menuBar .socialList {
    display: flex;
    justify-content: none;
    align-items: none;
    padding: 0 30px;
    gap: 15px;
    position: absolute;
    z-index: 1;
  }
  .header .menuBar .socialList .socialItem a i {
    font-size: 15px;
    background-color: #1877f2;
    border-radius: 100%;
    padding: 12px 13px;
  }
}
.hero {
  background: url(../images/home/slider-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
}
.hero .container .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero .container .row .secCap h4 {
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: 7px;
  font-weight: 400;
  text-transform: uppercase;
  color: #80db66;
}
.hero .container .row .secCap h1 {
  font-size: 100px;
  color: #fff;
  text-transform: capitalize;
}
.hero .container .row .secCap h2 {
  text-transform: capitalize;
  color: #80db66;
  font-size: 34px;
  white-space: nowrap;
  overflow: hidden;
  min-height: 60px;
  margin-bottom: 20px;
}
.hero .container .row .secCap a {
  background-color: #80db66;
  color: #25262f;
  border: 1px solid #80db66;
  padding: 10px 14px;
  text-transform: uppercase;
  transition: all 0.3s ease;
  border-radius: 4px;
  margin-bottom: 50px;
}
.hero .container .row .secCap a:hover {
  background-color: transparent;
  color: #80db66;
}
.hero .container .row .secImg {
  max-width: 100%;
}
.hero .container .row .secImg img {
  transform: rotateY(180deg);
  width: 100%;
}

@media (max-width: 1024px) {
  .hero .container .row .secCap h1 {
    font-size: 80px;
  }
}
@media (max-width: 992px) {
  .hero .container .row {
    flex-direction: column;
  }
  .hero .container .row .secCap {
    text-align: center;
  }
  .hero .container .row .secImg {
    margin-top: 30px;
    max-width: 60%;
  }
}
@media (max-width: 768px) {
  .hero .container .row .secCap h1 {
    font-size: 60px;
  }
  .hero .container .row .secCap h2 {
    font-size: 28px;
  }
}
@media (max-width: 545px) {
  .hero .container .row .secCap h1 {
    font-size: 50px;
  }
  .hero .container .row .secCap h2 {
    font-size: 28px;
  }
}
@media (max-width: 455px) {
  .hero .container .row .secCap h1 {
    font-size: 40px;
  }
  .hero .container .row .secCap h2 {
    font-size: 24px;
  }
}
@media (max-width: 365px) {
  .hero .container .row .secCap h4 {
    font-size: 18px;
  }
  .hero .container .row .secCap h1 {
    font-size: 30px;
  }
  .hero .container .row .secCap h2 {
    font-size: 20px;
  }
}/*# sourceMappingURL=index.css.map */